<div id="alert-modal" class="modal fade" data-prevent-quick-search-close>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card-body">
                <div class="modal-inner-content"></div>
                <div class="position-relative loading-overlay-container">
                    <div class="loadingOverlay"></div>
                </div>
            </div>
        </div>
    </div>
</div>
