<ul class="product-description-accordian" data-tab role="tablist">
    <li class="acc-item is-active" role="presentation">
        <a class="acc-link" href="#tab-description" role="tab" tabindex="1" aria-selected="true" >Product Details</a>
        <i class="fal fa-minus "></i>
    </li>
    <li id="tab-description">
        <div class="tab-pane py-3" >
            {{{product.description}}}
 

            <p><strong>Item: </strong> #{{product.sku}}</p>

            {{#each product.custom_fields}}
                
                {{#and  (if name '==' 'prop65') ( if (toLowerCase value) '==' 'yes') }}
                    <!-- <strong>Warning:</strong> -->
                    <div class="alert alert-default d-flex p-0 my-4 prop65Warning">
                        <div class="alertBox-column alertBox-icon">
                            <icon glyph="ic-success" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
                        </div>
                        <p class="m-0 ml-2">
                            <span>
                                California Residents - Prop65 Warning. This product can expose you to chemical which are known to the State of California to cause cancer, For more information, go to <a href="www.p65warnings.ca.gov" target="_blank">www.p65warnings.ca.gov</a>
                            </span>
                        </p>
                    </div>

                {{/and}}
            {{/each}}


             
        </div>
    </li>

 
    {{#if product.warranty}}
        <li class="acc-item" role="presentation">
            <a class="acc-link" href="#tab-warranty" role="tab" tabindex="2" aria-selected="true">{{lang 'products.warranty'}}</a>
            <i class="fal fa-plus"></i>
        </li>
        <li id="tab-warranty" style="display:none">
            <div  class="tab-pane py-3" >
                {{{product.warranty}}}
            </div>
        </li>
    {{/if}}         

</ul>
