.font-weight-heavy {
	font-weight: 500!important;
}

.nowrap {
	white-space: nowrap;
}

.required {
	color: #FF0000;
	font-size: 14px;
}

.invalid_msg {
	color: #FF0000;
	font-size: 14px;
	padding-top: 6px;
}
