<!DOCTYPE html>
<html>
<head>
    <title>
    {{page_type}}
    
    {{#or  (if page_type '==' 'invoice_print' ) (if page_type '==' 'search' ) }}
        {{head.title}}
    {{else}}
        {{head.title}}
        {{#comment}}
        <!-- WAS GIVING SERVER ERROR. TEMP FIX.
        {{#if (last (split head.title "-")) '==' 'Ton'}}
            {{join (split (chop (first (split head.title settings.store_name))) "-") '|'}} | {{settings.store_name}}
        {{else if (first (split head.title "-")) '==' 'Bon'}}
            {{settings.store_name}} | {{join (split (chop (last (split head.title settings.store_name))) "-") '|'}}  
        {{else if (occurrences (last (split head.title "-")) 'Not Found') '==' '1'}}
            {{settings.store_name}} | Not Found
        {{else}}
            {{#if (occurrences head.title "-") '==' '0'}}
                {{chop head.title}}                
            {{else}}
                {{first (split head.title "-")}} | {{last (split head.title "-")}}
            {{/if}}
        {{/if}}
        -->
        {{/comment}}
    {{/or}}        

    </title>
    <script>
        var dataLayer = [];
    </script>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M4MGF35');</script>
    <!-- End Google Tag Manager -->

    {{{ head.meta_tags }}}
    {{{ head.config }}}

    <link href="{{ head.favicon }}" rel="shortcut icon">
    <script async src="{{cdn 'assets/dist/theme-bundle.apps.js'}}"></script>
    {{!-- Inject Storefront API Token into JS context so we can use it in our JavaScript --}}
    {{~inject 'storefrontAPIToken' settings.storefront_api.token}}
    {{#block "head"}}{{/block}}
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M4MGF35"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
        
    {{#block "page"}}{{/block}}
</body>
</html>
