<div id="modal" class="modal fade"  tabindex="-1" aria-hidden="true" data-prevent-quick-search-close aria-hidden="false" aria-labelledby="modalTitle" aria-describedby="modalDescription" role="dialog" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title"></h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-inner-content"></div>
            <div class="position-relative loading-overlay-container">
                <div class="loadingOverlay"></div>
            </div>
        </div>
    </div>
</div>
