<div class="breadcrumbs">
    <div class="container mt-1">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item ">
                    <a href="/" itemprop="item"><span itemprop="name">Home</span></a>
                    <meta itemprop="position" content="1" />
                </li>
                <li class="breadcrumb-item ">
                    <a href="/account.php" itemprop="item"><span itemprop="name">Your Account</span></a>
                    <meta itemprop="position" content="2" />
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    <meta itemprop="item" content={{link}}>
                    <span itemprop="name">
                        {{name}}
                    </span>
                    <meta itemprop="position" content="3" />
                </li>
            </ol>
        </nav>
    </div>
</div>
