<div class="form-field">
    <label class="form-label form-label--alternate form-label--inlineSmall" for="customization_{{id}}_{{../id}}">
        {{display_name}}:
        {{#if required}}
            <span class="required">{{lang 'common.required' }}</span>
        {{/if}}
    </label>
    <textarea class="form-input" id="customization_{{id}}_{{../id}}" {{#if required}}required {{/if}}name="ProductFields[{{id}}]" {{#if max_length}}maxlength="{{max_length}}"{{/if}}>{{value}}</textarea>
</div>
